<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Kamera: satu-satunya izin sensitif yang dibutuhkan aplikasi ini.
         TIDAK ada izin penyimpanan eksternal, lokasi, atau kontak: gambar
         wajah tidak pernah ditulis ke galeri, dan absensi tidak memakai GPS. -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Layar kios harus tetap menyala selama jam absensi. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
      Lokasi untuk widget beranda. COARSE disertakan bersama FINE, bukan
      sebagai pengganti: sejak Android 12 pengguna dapat memberi izin
      "perkiraan lokasi" saja, dan tanpa COARSE terdaftar pilihan itu
      dianggap penolakan sehingga widgetnya kosong tanpa alasan yang jelas.

      Keduanya TIDAK berjalan di latar belakang - lokasi hanya diambil saat
      beranda terbuka. Karena itu ACCESS_BACKGROUND_LOCATION sengaja tidak
      diminta: izin itu memicu peninjauan khusus di Play Store dan tidak ada
      satu pun fitur di sini yang membutuhkannya.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--
      Media. Android 13 (API 33) memecah READ_EXTERNAL_STORAGE menjadi izin
      per jenis berkas. Keduanya harus ada: yang baru untuk Android 13+, yang
      lama dibatasi maxSdkVersion="32" agar tidak diminta pada versi yang
      sudah tidak memakainya - permintaan izin usang membuat pengguna melihat
      dialog yang tidak bisa mereka penuhi.
    -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- Kamera depan diperlukan untuk mode kios, tetapi aplikasi tetap
         berguna tanpa kamera pada ponsel guru yang hanya memantau, sehingga
         ditandai tidak wajib agar tidak tersaring di Play Store. -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:label="Absensi Disdik Sumut"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
